body {
    background-color: #5ec7ed;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    background-color: azure;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 15vh;
}

.imagencabecera {
    display: flex;
    width: 15vw;;
    height: 15vh;
    opacity: 1;
    border-radius: 10px;
}

h1 {
    color: cadetblue;
    font-family: 'Lora', serif;
}

nav {
    background-color: aqua;
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

h2 {
    color: rgb(81, 77, 77);
    font-family: 'Fjalla One', sans-serif;
    margin: 20px;
}

a {
    text-decoration: none;
}

a:hover {
    color: dimgrey;
}

.formulario {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 65vh;
}

.form-group {
    display: flex;
    flex-direction: row;
    width: 90vw;
    height: 10vh;
}

input {
    font-size: x-large;
    width: 30vw;
    margin: 20px;
    background-color: aquamarine;
}

label{
    display: inline-block;
    width: 300px;
  }

select {
    display: inline-block;
    font-size: x-large;
    width: 200px;
    margin: 20px;
    background-color: aquamarine;
}

.sugerencias {
    margin-left: 20px;
    align-items: center;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    font-size: x-large;
    margin-bottom: 20px;
}

textarea {
    background-color: aquamarine;
    font-size: xx-large;
}

.proteccionDatos {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    padding: 5px;
}

.nuevoUsuario {
    font-size: xx-large;
    color: black;
    font-family: 'Fjalla One', sans-serif;
}







